* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Montserrat", sans-serif;

    body {
        background-color: #0f0f1e;
        color: #fff;
        font-size: 16px;
        overflow: hidden;
    }

    header {
        position: fixed;
        width: 90vw;
        top: 0;
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 3;
    }

    .logo {
        font-family: "Orbitron", sans-serif;
        font-size: 3rem;
        font-weight: 900;
        text-shadow: 0 0 10px rgb(0, 247, 255, 1);
    }

    header nav ul {
        display: flex;
        gap: 45px;
    }

    header nav ul li {
        cursor: pointer;
        position: relative;
        padding: 5px 0;
    }

    header nav ul li::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #00f7ff;
        transition: width 0.5s ease;
    }

    header nav ul li:hover::after {
        width: 100%;
    }

    .container {
        height: 100vh;
        position: relative;
        background: linear-gradient(135deg, #0f0f1e 0%, #1f1f3a 100%);
        overflow: hidden;
    }

    .container::before {
        content: "";
        position: absolute;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: radial-gradient(circle, rgba(0, 247, 255, 0.2) 0%, rgba(15, 15, 30, 0)70%);
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        filter: blur(50px);
        z-index: 1;
        animation: pulse 2s infinite alternate;
    }

    @keyframes pulse {
        0% {
            opacity: 0.5;
            transform: translate(-50%, -50%) scale(0.8)
        }

        100% {
            opacity: 1;
            transform: translate(-50%, -50%) scale(1.5);
        }
    }

    .tech-circle {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 3;
    }

    .circle {
        position: absolute;
        border-radius: 50%;
        border: 1px solid rgba(0, 247, 255, 0.2);
    }

    .circle:nth-child(1) {
        width: 200px;
        height: 200px;
        top: 10%;
        left: 10%;
    }

    .circle:nth-child(2) {
        width: 300px;
        height: 300px;
        top: 50%;
        left: 70%;
    }

    .circle:nth-child(3) {
        width: 150px;
        height: 150px;
        top: 70%;
        left: 20%;
    }

    .circle:nth-child(4) {
        width: 120px;
        height: 120px;
        top: 30%;
        left: 40%;
    }

    .list {
        width: 90%;
        height: 100%;
        margin: 0 auto;
        position: relative;
    }

    .item {
        position: absolute;
        inset: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        /* ANIMAÇÂO */
        transform: translateX(100vw);
        transition: transform 0.7s ease-in-out, opacity 0.7s ease-in-out;
    }

    .active {
        opacity: 1;
        transform: translateX(0);

    }

    .product-img {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        z-index: 4;
    }

    .product-img img {
        max-width: 100%;
        max-height: 100%;
        filter: drop-shadow(0 0 30px rgba(0, 247, 255, 0.3));

        /* Animação2*/
        transform: translateX(300px);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
        transition-delay: 0.5s;
    }

    .active .product-img img {
        transform: translateX(0);
        opacity: 1;

    }

    .content {
        width: 55%;
        padding-right: 80px;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        flex-direction: column;
        z-index: 2;
    }

    .product-tag {
        font-size: 1rem;
        text-transform: uppercase;
        color: #00f7ff;
        font-weight: 600;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .product-name {
        font-size: 3rem;
        font-family: "Orbitron", sans-serif;
        font-weight: 600;
        line-height: 1.1;
        margin-bottom: 70px;
        /* Animação2*/
        transform: translateX(300px);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
        transition-delay: 0.7s;
    }

    .active .product-name {
        transform: translateX(0);
        opacity: 1;
    }

    .description {
        font-size: 1.1rem;
        color: #b8b8d0;
        line-height: 1.6;
        margin-bottom: 60px;
        max-width: 600px;
        /* Animação2*/
        transform: translateY(300px);
        opacity: 0;
        transition: transform 0.6s ease, opacity 0.6s ease;
        transition-delay: 0.5s;
    }

    .active .description {
        transform: translateY(0);
        opacity: 1;
    }

    .btn {
        padding: 12px 16px;
        background: linear-gradient(90deg, #00f7ff, #0066ff);
        border-radius: 30px;
        color: #000;
        font-size: 1 rem;
        font-weight: 600;
        cursor: pointer;
        border: 0;
    }

    .btn:hover {
        color: #fff;
        background: linear-gradient(90deg, #0084ff, #2f00ff);
        border: 2px;
    }

    .indicators {
        position: absolute;
        bottom: 40px;
        left: 50%;
        transform: translateX(-50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        z-index: 5;
    }

    .numbers {
        font-family: "Orbitron", sans-serif;
        font-size: 2rem;
        font-weight: 500;
        color: rgba(255, 255, 255, 0.3);
    }

    .dots {
        display: flex;
        gap: 10px;
    }

    .dot {
        width: 40px;
        height: 4px;
        background-color: rgba(255, 255, 255, 0.2);
        border-radius: 2px;
    }

    .dot.active {
        background-color: #00f7ff;
        box-shadow: 0 0 10px rgba(0, 247, 255, 0.5);
    }


    .arrows {
        position: absolute;
        width: 100%;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    .arrow-btn {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(0, 247, 255, 0, 3);
    }

    .arrow-btn:hover {
        background-color: rgba(0, 247, 255, 0.2);
        border-color: #00f7ff;
    }

    /* Pg contato*/
    .contact {
        text-align: center;
        margin-top: 150px;
        font-size: 2rem;
        font-weight: 600;
        color: #00f7ff;
        text-shadow: 0 0 10px rgb(0, 247, 255, 1);
    }
    .contact-form {
        width: 300px;
        margin: 50px auto;
        line-height: 5;
        padding: 30px;
        background-color: rgba(255, 255, 255, 0.1);
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 247, 255, 0.2);
    }


 }